body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 30px;
}
.name-hi{
    color: brown;
}
.header{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.header img{
    width: 80%;
}